.Characters {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  
  li {
    width: 25vw;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  img {
    width: 20vw;
    display: flex;
  }
}
